/* /src/assets/style.css */

:root {
  --bg-color: #f9fafb;
  --text-color: #111111;
  --text-secondary: #6b7280;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1e2022;
    --text-color: #bbbbbb;
    --text-secondary: #9ca3af;
  }
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  box-sizing: border-box;
}
